body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    background-color: #f8f8f8!important;
    color: black !important;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

div:after {
    content: " ";
    clear: both;
    display: table;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

li {
    list-style: none;
}
img {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}

img:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.header-dark {
    color: black!important;
    font-family: 'Pangolin', cursive!important;
}

.wrapper {
    margin: auto;
    max-width: 1000px!important;
}





/*Thanh Nav*/

.header_bg {
    background: #323232;
}

.h_logo {
    display: none;
}





/* top-nav */

.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}

.top-nav:after {
    clear: both;
}

.top-nav {
    *zoom: 1;
    margin: 0;
}

nav {
    width: 100%;
    position: relative;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 10px 8px;
}

nav li.active a,
nav li a:hover {
    text-decoration: none;
    color: #2EB398;
}

nav li a {
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav a#pull {
    display: none;
}





/*Styles for screen 600px and lower*/

@media screen and (max-width: 768px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        text-align: left;
        width: 100%;
        position: relative;
        margin: 0;
    }
    nav li a {
        display: none;
        border-top: 1px solid #242424;
    }
    nav li:last-child a {
        border-bottom: 1px solid #242424;
        margin-bottom: 20px;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
}
#game .margin {
    margin-left: 30px;
}

#game span {
    font-size: 30px;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}




/*Content*/

#content {
    background: url();
    margin: auto;
    max-width: 1120px!important;
    text-align: left;
}

#text_content {
    text-align: justify;
    padding-left: 20px;
    padding-top: 25px;
}

.container_content {
    margin-top: 50px;
    text-align: center;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

#content h1 {
    text-align: center;
}



/*About*/

#we_about h3 {
    text-align: center;
}

.box_about {
    text-align: justify;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 30px;
    height: 280px;
}

.box_about:hover {
    color: white;
    background-color: #1abc9c;
    border: 1px solid green;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#about{
    max-width: 80%;
    margin: auto;
}

#main_content{
    margin-top: 30px;
}